# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" # Diretório onde o package.json está localizado
    schedule:
      interval: "weekly" # Verificar atualizações semanalmente
    commit-message:
      prefix: "chore"
    open-pull-requests-limit: 5

    groups:
      # Grupo para todas as atualizações de versão (major, minor e patch)
      version-updates:
        patterns:
          - "*"
        update-types: ["major", "minor", "patch"]

      # Grupo para todas as atualizações de segurança
      security-updates:
        patterns:
          - "*"
        update-types: ["minor", "patch"]
        dependency-type: "production"


