body {
  background-color: #212529;
}

.navbar-color {
  background-color: #c62b29;
}

.remover-seta.dropdown-toggle::after {
  display: none;
}

.custom-nav-link .nav-link:hover,
.custom-nav-link .nav-link:focus,
.custom-nav-link .nav-link.active {
  color: #fff !important; /* Aumenta a transparência dos links */
}

@media (max-width: 768px) {
  .hidden-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .show-text {
    display: none;
  }
}

/* Toast */
@keyframes fadeInSlide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutSlide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toast-animate-in {
  animation: fadeInSlide 0.5s ease-in-out forwards;
}

.toast-animate-out {
  animation: fadeOutSlide 0.5s ease-in-out forwards;
}

.modal-dialog {
  max-width: 90%; /* Aumenta a largura do modal */
  margin: 1.75rem auto; /* Centraliza o modal */
}

.modal-body {
  max-height: 70vh; /* Limita a altura do corpo do modal */
  overflow-y: auto; /* Adiciona rolagem se necessário */
}
