body {
  background-color: #212529;
}

.navbar-color {
  background-color: #c62b29;
}

.remover-seta.dropdown-toggle::after {
  display: none;
}

.custom-nav-link .nav-link:hover,
.custom-nav-link .nav-link:focus,
.custom-nav-link .nav-link.active {
  color: #fff !important; /* Aumenta a transparência dos links */
}

@media (max-width: 768px) {
  .hidden-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .show-text {
    display: none;
  }
}

/* Toast */
@keyframes fadeInSlide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutSlide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toast-animate-in {
  animation: fadeInSlide 0.5s ease-in-out forwards;
}

.toast-animate-out {
  animation: fadeOutSlide 0.5s ease-in-out forwards;
}

/* Modal */

.modal-dialog {
  max-width: 90%; /* Aumenta a largura do modal */
  margin: 1.75rem auto; /* Centraliza o modal */
}

.modal-body {
  max-height: 70vh; /* Limita a altura do corpo do modal */
  overflow-y: auto; /* Adiciona rolagem se necessário */
}

/* RPG Button */

.rpg-button {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  color: #ffffff;
  background-color: #c62b29;
  border: 2px solid #d4af37; /* Dourado para um toque mais medieval */
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(255, 255, 255, 0.2);
}

.rpg-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  pointer-events: none;
}

.rpg-button:hover {
  color: #d4af37; /* Dourado no hover */
  background-color: #8a1f1d;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(255, 255, 255, 0.3);
}