.card-resultado.gold {
  border: 5px solid gold;
  margin-top: 40px;
}

.card-resultado.silver {
  border: 5px solid silver;
  margin-top: 55px;
}

.card-resultado.bronze {
  border: 5px solid #cd7f32;
  margin-top: 70px;
}

.card-resultado img {
  height: 40vh;
  object-fit: cover;
}

.card-resultado {
  box-sizing: border-box;
  height: 500px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card-resultado:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card-resultado {
  position: relative;
}

.trophy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../img/pngwing.com.png') no-repeat;
  background-size: contain;
  margin-top: 20px; /* Adicione um espaço acima do troféu */
}

.trophy-icon {
  font-size: 2rem; /* Tamanho do ícone */
  color: inherit; /* Mantém a cor do card */
}

.placement-number {
  font-size: 1.5rem; /* Tamanho do número */
  font-weight: bold; /* Peso da fonte */
  margin: 0 10px; /* Espaço em torno do número */
}

/* Cores personalizadas para o troféu */
.card-resultado.gold .trophy-icon,
.card-resultado.gold .placement-number {
  color: gold; /* Cor do troféu e número */
}

.card-resultado.silver .trophy-icon,
.card-resultado.silver .placement-number {
  color: silver; /* Cor do troféu e número */
}

.card-resultado.bronze .trophy-icon,
.card-resultado.bronze .placement-number {
  color: #cd7f32; /* Cor do troféu e número */
}
