.search-bar {
    width: 33.33%; /* 1/3 da largura da página */
    border-radius: 50px; /* Bordas arredondadas */
  }
  
  .search-bar .form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  .search-bar .btn {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  